.header {
  display: flex;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: #000;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i{
  padding-right: 5px;
}